.box-carousel {
    margin-top: 4%;
}

.container-carousel {
    height: 400px;
    display: flex !important;
    justify-content: center;
    align-content: center;
}

.container-carousel>img {
    height: 100%;
}

.legend {
    color: '#fff';
    text-align: 'center';
    background: '#364d79';
}